<div class="doc-content">
  <div
    id="carouselExampleControls"
    class="carousel slide pb-2 py-md-5"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item">
        <h1>تعرّف على تطبيق يُداوي للأطباء</h1>
        <p>
          اسحب الشاشة إلى اليمين لتكتشف مزايا تطبيق يُداوي للأطباء وتتعرف على
          الأسباب التي تجعل منه طفرة حقيقية في عالم الرعاية الصحية الرقمي.
        </p>
      </div>
      <div class="carousel-item">
        <h1>روشتات رقمية حديثة</h1>
        <h2>مصمّمة مع وضع احتياجات الأطباء في الاعتبار</h2>
        <p>
          يتطلّب منا العصر الحالي التخلص من جميع التعاملات الجسدية غير الضرورية
          قدر الإمكان، لهذا صُمّمت الروشتات الإلكترونية من يُداوي خصيصًا لتلبية
          احتياجات الطبيب المُعاصر، سواءً بإضافة التعليمات لمريضه أو تحديد
          الجرعات ومدتها وتكراريتها. تطبيق يُداوي للأطباء هو بداية العصر الجديد.
        </p>
      </div>
      <div class="carousel-item active">
        <h1>نماذج للروشتات المتكررة</h1>
        <h2>يُمكن حفظها للحالات الشائعة</h2>
        <p>
          بفضل تصميم يُداوي بالتعاون مع أفضل الأطباء في جميع التخصصات، يُتيح
          تطبيق يُداوي للأطباء إنشاء وحفظ نماذج روشتات للحالات الأكثر شيوعًا.
          وبعدها يستطيع الأطباء توفير الوقت باستخدام النماذج المحفوظة مسبقاً
          أكثر من مرة مع الحالات المستقبلية.
        </p>
      </div>
      <div class="carousel-item">
        <h1>قاعدة بيانات الأطباء</h1>
        <p>
          يفتخر يُداوي بتقديم قاعدة بيانات متطورة تسمح للأطباء بالاختيار بين
          مجموعة كبيرة من الاختيارات المتاحة في السوق، وهي مصممة لتلبية احتياجات
          كل تخصص. وباستخدام التطبيق، يُمكن للأطباء الآن:
        </p>
        <ul>
          <li>البحث عن احتياجاتهم من الصيدلية</li>
          <li>التحقق من توافر المنتجات في السوق</li>
          <li>معرفة أحدث الأسعار</li>
          <li>اختيار البدائل</li>
        </ul>
      </div>
      <div class="carousel-item">
        <h1>شبكة صيدليات واسعة الانتشار</h1>
        <h2>تغطية تشمل جميع محافظات مصر</h2>
        <p>
          يربط يُداوي الأطباء بشبكة ممتدة تضم أكثر من 4,000 صيدلية معتمدة، مع
          انتشار يُغطي 28 محافظة داخل مصر لتلبية احتياجات الأطباء ومرضاهم أينما
          كانوا. ويتلقى المرضى روشتاتهم الإلكترونية على الفور عبر الرسائل النصية
          القصيرة، أو واتساب، أو تطبيق يُداوي حتى يستخدموها في الطلب من أقرب
          صيدلية مرخصة.
        </p>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
