<div class="content">
  <div class="x-content">
    <h1>التأمين الطبي: رؤية جديدة!</h1>
    <h2>تجارب مصممة خصيصًا لتسهيل التأمين الطبي لكل مريض</h2>
    <div class="images">
      <img src="/assets/Insurers images/metlife.png" alt="" />
      <img src="/assets/Insurers images/axa.png" alt="" />
      <img src="/assets/Insurers images/mednet.png" alt="" />
      <img src="/assets/Insurers images/amc.png" alt="" />
      <img src="/assets/Insurers images/nextcare.png" alt="" />
      <img src="/assets/Insurers images/unicare.png" alt="" />
    </div>
    <p>
      محرك موافقات التأمين الطبية من يُداوي مصمم خصيصًا لإحداث طفرة في خدمة
      تقديم الرعاية الصحية، وتمكين مقدميها من إتمام عمليات طلب الموافقات بسرعة
      ودقة. حيث يستطيع المرضى إضافة بيانات بطاقة التأمين، وطلب روشتات التأمين،
      واستلامها في المنزل بدون عناء.
    </p>
  </div>
  <a routerLink="/for-insures-slider">المزيد <span>...</span></a>
</div>
