<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-12">
      <div class="accordion accordion-flush p-4" id="accordionFlushExample">
        <h2>الأسئلة الشائعة</h2>
        <p>اقرأ الأسئلة الشائعة التالية وإجاباتها قبل التواصل معنا.</p>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              كيف أطلب من شفاء؟
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              كل ما عليك فعله هو تنزيل التطبيق ثم إضافة منتجات الصيدلية
              المرغوبة، أو تحميل صورة الروشتة أو صورة المنتج، وسيتكفّل فريقنا
              بتوصيل الطلب إلى منزلك من أقرب صيدلية.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              كيف أطلب روشتات التأمين من شفاء؟
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              إذا كانت شركة تأمينك من شركاء شفاء ، تستطيع بكل بساطة إدخال بيانات
              بطاقتك التأمينية على التطبيق، وتحميل صورة من الروشتة لتقديم الطلب.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              ما هي المناطق التي يُغطيها شفاء؟
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يُغطّي شفاء 28 محافظة في مصر. وبمجرد تقديم الطلب على التطبيق،
              يُرسله فريقنا إلى أقرب صيدلية مُعتمدة ليصلك في أسرع وقت. إذا لم
              تكن شبكة صيدليات شفاء تُغطي منطقتك، فيُمكنك التواصل معنا عبر
              صفحاتنا على شبكات التواصل الاجتماعي أو ملء الطلب أسفل الصفحة،
              وسنعمل على ضمّ صيدليات أقرب لمنطقتك قبل طلبك التالي.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              كم يستغرق توصيل الطلبات عبر شفاء
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يعمل فريقنا على تحسين سرعة التوصيل. وربما تختلف مواعيد تسليم
              الطلبات حسب محتويات الطلب وتوافرها. ويستغرق توصيل الطلبات في
              المعتاد أقل من 45 إلى 60 دقيقة في المعتاد.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              هل تواجهك مشكلة في الطلب من شفاء؟
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يمكنك التواصل معنا عبر صفحاتنا على شبكات التواصل الاجتماعي أو على
              الرقم الساخن 15005، وسيعمل فريقنا على حلها في أقرب وقت.
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingSix">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSix"
              aria-expanded="false"
              aria-controls="flush-collapseSix"
            >
              لم يصلك رمز التحقق؟
            </button>
          </h2>
          <div
            id="flush-collapseSix"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSix"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              لنضمن تسجيل حسابك برقم هاتفك الحقيقي، سنرسل لك رمز التحقق عبر
              رسالة نصية، ويجب عليك إدخاله للتسجيل. وإذا لم تصلك رسالة نصية
              بالرمز، فعليك التواصل معنا عبر صفحاتنا على شبكات التواصل الاجتماعي
              (فيسبوك وإنستغرام)، أو راسلنا عبر البريد الإلكتروني
              hello@yodawy.com برقمك الذي استخدمته للتسجيل، وسيعمل فريقنا على حل
              مشكلتك في أقرب وقتٍ مُمكن
            </div>
          </div>
        </div>
        <div class="accordion-item mb-2">
          <h2 class="accordion-header" id="flush-headingSeven">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseSeven"
              aria-expanded="false"
              aria-controls="flush-collapseSeven"
            >
              هل لديك صيدلية وترغب في الانضمام إلى شبكة شفاء؟
            </button>
          </h2>
          <div
            id="flush-collapseSeven"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingSeven"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body">
              يتطلّع يُداوي باستمرار إلى توسيع شبكة الصيدليات المعتمدة لتُغطّي
              جميع المناطق. اترك لنا بيانات صيدليتك ومعلومات التواصل معك
              باستخدام الطلب أسفل الصفحة، وسنتواصل معك في أسرع وقتٍ ممكن.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-12">
      <div class="p-4">
        <h4>املأ الطلب إذا كان لديك سؤال أو استفسار آخر</h4>
        <div class="p-2 text-right">
          <input type="email" placeholder="بريدك الاليكتروني" />
          <input type="number" placeholder="رقم التليفون" />
          <input type="text" placeholder="الاسم الاول والاخير" />
          <input type="text" placeholder="رسالتك" id="message" />
          <button id="sendBtn">ارسل</button>
        </div>
      </div>
    </div>
  </div>
</div>
