<div class="content">
  <form  [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-10 col-12">
          <input type="text" name="email" formControlName="email" />
          <span *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" >مطلوب البريد الاليكتروني</span>
        </div>
        <div class="col-lg-2 col-12">
          <h5>البريد الاليكتروني</h5>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-10 col-12">
          <input type="text" name="phone" formControlName="passsword" />
          <span *ngIf="loginForm.controls. passsword.invalid && loginForm.controls. passsword.touched" > مطلوب ادخال الرقم السري </span>
        </div>
        <div class="col-lg-2 col-12">
         <h5>الرقم السري </h5>
        </div>
      </div>
      
    </div>
    <input class="mt-4" type="submit" value="تسجيل الدخول" [disabled]="loginForm.invalid"/>
    <h2>{{msg}}</h2>
    <br/>
    <br />
    <a href="/register">انشاء حساب جديد</a>
    <a class="mr-5" routerLink="/buynow">حمل التطبيق الان</a>
  </form>
</div>


