<div class="container-fluid headerOne d-none d-md-block">
    <div class="row header-one">
        <div class="col-md-4 help text-right py-2">
            <span class="">هل تريد المساعدة؟ 15005</span>
        </div>
        <div class="col-md-4">
            <h2></h2>
        </div>
        <div class="col-md-4 py-2">
            <span><a href="https://www.facebook.com/yodawyapp/" target="_blank"><i class="fab fa-facebook-f mx-2"></i></a></span>
            <span><a href="https://www.instagram.com/challenge/?next=/yodawyapp/" target="_blank"><i class="fab fa-instagram  mx-2"></i></a></span>
            <span><a href="https://www.linkedin.com/company/yodawyapp/" target="_blank"><i class="fab fa-linkedin-in  mx-2"></i></a></span>
            <span class="ml-5 pr-4"><a>English</a></span>
        </div>
    </div>
</div>