<div class="buy">
  <ul class="frist">
    <h2>حمل التطبيق الان</h2>
    <li>تجربة تسوق مريحة</li>
    <li>الأدوية ومنتجات الصحة والتجميل</li>
    <li>أفضل الأسعار والعروض</li>
    <li>توصيل سريع في مصر!</li>
  </ul>
  <img src="assets/downloadApp.png" alt="img" />
  <ul class="second">
    <h2>Download Yodawy App</h2>
    <li>Comfortable shopping experience</li>
    <li>Medication, health and wellbeing products</li>
    <li>Guaranteed best prices</li>
    <li>Fast delivery across Egypt!</li>
  </ul>
</div>
<div class="linkApp pb-5">
  <a href="https://apps.apple.com/eg/app/yodawy/id1289659773"
    ><img src="assets/app-store-164x55.png" alt="App-Store"
  /></a>
  <a
    href="https://play.google.com/store/apps/details?id=com.medex.yodawy&hl=en&gl=US"
    ><img src="assets/google-187x55.png" alt="Google-Play"
  /></a>
</div>
