<div class="doc-content">
  <div
    id="carouselExampleControls"
    class="carousel slide pb-2 py-md-5"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item">
        <h1>تجربة التأمين الطبي بكل سهولة</h1>
        <h2>يمكن للمرضى الآن الاستفادة بتأمينهم الطبي بخطوات بسيطة</h2>
        <p>
          كل ما تحتاجه هو تنفيذ خطوات بسيطة على تطبيق يُداوي لتسجيل بيانات بطاقة
          التأمين وطلب احتياجاتك التأمينية. اسحب الشاشة لليمين لتعرف الخطوات.
        </p>
      </div>
      <div class="carousel-item">
        <h1>صوّر بطاقة التأمين</h1>
        <p>
          بمجرد تسجيل الدخول على تطبيق يُداوي، تستطيع إكمال التسجيل في بضع دقائق
          عن طريق إضافة بيانات بطاقة التأمين.
        </p>
        <ul>
          <li>اختر مقدم خدمة التأمين الصحي</li>
          <li>صوّر بطاقة التأمين</li>
          <li>احصل على موافقة فورية</li>
        </ul>
      </div>
      <div class="carousel-item">
        <h1>حمّل روشتتك الطبية</h1>
        <p>
          بعد تسجيل بياناتك التأمينية، قُم بتحميل روشتتك الطبية. ولا تشغل بالك
          بمجرد تأكيد طلبك، حيث سيقوم يُداوي بالمطلوب.
        </p>
        <ul>
          <li>حمّل روشتتك الطبية</li>
          <li>أضف عنوان التوصيل</li>
          <li>اختر طريقة الدفع</li>
        </ul>
      </div>
      <div class="carousel-item active">
        <h1>احصل على موافقة التأمين</h1>
        <p>
          بمجرد استلامنا للروشتة، سيقوم المُحرّك المدعوم بالذكاء الاصطناعي
          بسرعةٍ شبه فورية بتنفيذ الآتي:
        </p>
        <ul>
          <li>تحويل الطلب إلى شركة التأمين الخاصة</li>
          <li>الحصول على الموافقة</li>
          <li>إرسال الموافقة التأمينية مع طلبك إلى أقرب صيدلية معتمدة</li>
        </ul>
      </div>
      <div class="carousel-item">
        <h1>احصل على طلبات روشتة التأمين في المنزل</h1>
        <p>
          في أسرع وقتٍ ممكن، ستصلك طلبات روشتة التأمين بأقل مجهود إلى باب منزلك.
        </p>
        <ul>
          <li>بدون الانتظار في طوابير</li>
          <li>بدون ملء استمارات</li>
          <li>بدون زيارة صيدليات</li>
        </ul>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
