@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap");
*{font-family: "Tajawal", sans-serif !important;}

.doc-content {
  background-color: #09a4e9;
  color: #fff;
  height: 100vh;
  text-align: center;
  position: relative;
  margin-bottom: -50px;
  direction: rtl;
  overflow: hidden;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 90%;
}

.carousel-item h1,
.carousel-item h2,
.carousel-item p {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}

.carousel-item h1 {
  font-size: 50px;
}

.carousel-item p {
  font-size: 20px;
}

.carousel-item ul {
  text-align: center;
  position: relative;
  width: 90%;
}

.carousel-item ul li {
  width: 45%;
  list-style-type: disc;
  list-style-position: inside;
  text-align: right;
  margin: 0 40%;
  font-size: 20px;
}
