<div class="container-fluid p-0 carousel-inner-pharmacy">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" style="height: 565px">
      <div id="active" class="carousel-item active">
        <div class="content">
          <h1>منصة التبادل الطبي</h1>
          <h4>منصة رعاية صحية حديثة بواجهة عصرية</h4>
          <div class="my-2">
            <p>
              يهدف يُداوي لتبسيط الرعاية الصحية في مصر. ويسعى لتمكين الشركاء
              بتوفير بنية تحتية رقمية تُساعدهم في تقديم خدمة على أعلى مستوى
              للمرضى والمستهلكين.
            </p>
          </div>
          <div>
            <a class="next-one"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>إدارة مزايا الصيدليات</h1>
          <h4>حلول مبتكرة لإدارة الصيدليات بتصميم يُواكب السوق المحلي</h4>
          <div class="my-4">
            <p>
              يُقدّم يُداوي منصة شاملة لإدارة مزايا الصيدليات، مصممة لتلبية
              احتياجات السوق المحلي. حيث يربط بين الصيدليات، وشركات التأمين،
              والمرضى باستخدام محرك موافقات متطوّر.
            </p>
          </div>
          <div>
            <a class="next-two"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>محرك موافقات التأمين</h1>
          <h4>محرك موافقات آلي مدعوم بالذكاء الاصطناعي</h4>
          <div class="my-4">
            <p>
              محرك موافقات التأمين المتطور من يُداوي هو منصة سريعة مصممة خصيصًا
              للسوق المحلي. يستطيع المرضى تسجيل بطاقات التأمين، وطلب روشتة
              التأمين، واستقبال الموافقات على التطبيق مباشرةً.
            </p>
          </div>
          <div>
            <a class="next-three"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>تطبيق الروشتات الإلكترونية للأطباء</h1>
          <h4>عصر جديد للروشتات الطبية</h4>
          <div class="my-4">
            <p>
              تطبيق الروشتات من يُداوي هو نتاج التعاون مع العديد من الأطباء في
              مختلف التخصصات من أجل تطوير عملية كتابة الروشتات الطبية. ويستطيع
              الأطباء الآن كتابة وإرسال روشتات إلكترونية مفصلة بكل سهولة إلى
              المرضى فورًا. انسى هموم قراءة أو فقدان الروشتة!
            </p>
          </div>
          <div>
            <a class="next-four"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>تطبيق طلبات الصيدلية</h1>
          <h4>تطبيق متطور سهل الاستخدام للمرضى والمستهلكين</h4>
          <div class="my-4">
            <p>
              صُمِّمَ تطبيق يُداوي المحمول بواسطة خبراء في مجال الرعاية الصحية
              والبرمجة، ليمنحك وسيلة سلسة وسهلة الاستخدام لطلب جميع احتياجاتك من
              مستحضرات التجميل والرعاية الشخصية من أقرب صيدلية مرخصة ومعتمدة.
            </p>
          </div>
          <div>
            <a (click)="reload()"
              ><i class="fas fa-long-arrow-alt-up"></i> الرجوع
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
