<div class="container mt-5">
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col">
                    <div [hidden]="heflag">
                        <div class="card card-body" >
                            <img src="../../assets/imgs/4.jfif" alt=""/>
                            <span>22Mar,2020</span>
                            <h4>إيه فوائد زيت السمك وإيه أعراض نقص الأوميغا-3 في الجسم؟</h4>
                            كلنا عارفين إن السمك ليه الكثير من الفوائد الصحية اللي تجعله من أهم المصادر الغذائية للجسم. وفي السنوات الأخيرة، بدأ مصطلح الأوميغا-3 (زيت السمك) يظهر في المجتمع الطبي وعلى رفوف الصيدليات ضمن المكملات الغذائية، خاصةً في ظل اعتبار نقص الأوميغا-3 حالة مشابهة لنقص الحديد أو الكالسيوم في الأعراض. لكن أعراض نقص الأوميغا-3 ممكن تكون أشد وبتأثر بشكل كبير على صحتك وسلامتك.                         </div>
                        </div>
                </div>
                <div class="col">
                    <div [hidden]="heflag">
                        <div class="card card-body" >
                            <img src="../../assets/imgs/3.jfif" alt=""/>
                            <span>22Mar,2020</span>
                            <h4>أهم نصائح تقوية المناعة لحماية الجسم من الأمراض والأوبئة</h4>
                            المناعة هي منظومة العمليات الحيوية اللي بتقوم بيها الأعضاء والخلايا والجسيمات داخل جسم الإنسان لحمايته من الأمراض والسموم والخلايا السرطانية والجسيمات الغريبة. وبتعمل المنظومة دي باختصار على رصد مسببات الأمراض (الفيروسات والبكتيريا وغيرها) والقضاء عليها.                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div [hidden]="sflag">
                        <div class="card card-body" >
                            <img src="../../assets/imgs/01.jfif" alt=""/>
                            <span>22Mar,2020</span>
                            <h4>إزاي أعرف إنّي حامل وإيه أعراض الحمل المبكرة؟</h4>
                            أعراض الحمل بتختلف بين الأمهات، سواءً الأعراض نفسها أو حدتها. وليس بالضرورة أنّ كل أم تعاني من نفس الأعراض بنفس الطريقة في حالات الحمل التالية لحملها الأول.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div [hidden]="hrflag">
                        <div class="card card-body" >
                            <img src="../../assets/imgs/1.jfif" alt=""/>
                            <span>22Mar,2020</span>
                            <h4>10 منتجات مختارة من شفاء للعناية بالشعر </h4>
                            احتياجات الشعر بتختلف من شخص للتاني حسب طبيعة الشعر والمشكلة اللي بيعاني منها. وسواءً كان شعرك دهني أو جاف، كثيف أو خفيف، بيعاني من القشرة أو تساقط الشعر؛ فالأكيد إنك هتلاقي منتج مناسب لشعرك في القائمة التالية من 10 منتجات مختارة للعناية بالشعر على شفاء.                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    <div [hidden]="bflag">
                        <div class="card card-body" >
                            <img src="../../assets/imgs/8.jfif" alt=""/>
                            <span>22Mar,2020</span>
                            <h4>إيه علامات الإصابة بسرطان الثدي وإزاي أكشف على نفسي في المنزل؟</h4>
                            سرطان الثدي هو من أكثر أنواع السرطان انتشارًا بين النساء بعد سرطان الجلد. ورغم أنّه بيصيب الرجال والنساء، لكنه منتشر أكثر بين النساء. وفي مصر تحديدًا، بيمثل سرطان الثدي 18.9% من إجمالي المصابين بالسرطان (32.04% عند النساء، و2.2% عند الرجال). ونسبة المصابين الكبيرة بتتطلب توعية أكبر بسرطان الثدي لإحداث تقدم في تشخيص المرض، وعلاجه، وزيادة معدلات البقاء على قيد الحياة من خلال نشر آليات الكشف المبكر عن سرطان الثدي واستخدام الأساليب العلاجية الجديدة.                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 text-right">
            <h3>المصنفات</h3>
            <p>
                <button (click)="showAdd2()">الحمل والولاده</button>
                <button (click)="showhealth()">الصحه</button>
                <button (click)="showHair()">العنايه بالشعر</button>
                <button (click)="showB()">سرطان الثدي</button>
            </p>
            <h3>العلامات</h3>
            <span class="badge rounded-pill">الاعراض</span>
            <span class="badge rounded-pill">الامومه</span>
            <span class="badge rounded-pill">الصحه</span>
            <span class="badge rounded-pill">العنايه بالشعر</span>
            <span class="badge rounded-pill"> عالم الجمال والبشره</span>
            <span class="badge rounded-pill">سرطان الثدي</span>
            <span class="badge rounded-pill">اوبئه</span>
            <span class="badge rounded-pill">الفحص الذاتي</span>
        </div>
           
    </div>
</div>