<div
  class="container-fluid p-0  carousel-inner-pharmacy "
  style="height: 100% !important"
>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="content">
          <h1>يُداوي… شريكك الجديد في النمو</h1>
          <h4>يساعدك يُداوي على النمو سريعًا</h4>
          <div class="my-2">
            <p class="font-medium">
              يُمكنك الآن زيادة مبيعاتك، والوصول إلى مستهلكين أكبر داخل وخارج
              منطقتك الجغرافية، والاستفادة فورًا بعروض الخصومات والمنتجات
              الحصرية. وتستطيع الصيدليات استقبال المزيد من الطلبات عبر بوابة
              يُداوي المُصمّمة لتحقيق أقصى درجات السرعة والدقة.
            </p>
          </div>
          <div>
            <a class="next-one"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>استمتع بزيادة في المبيعات</h1>
          <h4>حركة طلبات وإيرادات متزايدة</h4>
          <div class="my-4">
            <p class="font-medium">
              تتمتّع شبكة صيدليات يُداوي بحركة طلبات متزايدة عبر بوابة الصيدليات
              والشركاء. الزيادة الملحوظة في المبيعات والإيرادات تجعل يُداوي
              الوجهة الرقمية المختارة لأكتر من 2000 صيدلية مرخصة في جميع أنحاء
              مصر.
            </p>
          </div>
          <div>
            <a class="next-two"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>احصل على عملاء جُدد</h1>
          <h4>وصول أسرع لملايين العملاء المحليين</h4>
          <div class="my-4">
            <p>
              يضمن يُداوي لأكثر من 2,000 صيدلية معتمدة ومرخصة في 28 محافظة،
              وصولًا سريعاً إلى قاعدة متنامية تضم ملايين المستخدمين.بدءًا من
              الأمهات الشابات الباحثات عن منصة موثوقة وسهلة الاستخدام لاحتياجات
              الأسرة اليومية، وصولًا إلى المرضى المزمنين الباحثين عن مصدر موثوق
              لطلب أدويتهم كل شهر بسهولة.
            </p>
          </div>
          <div>
            <a class="next-three"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>اعرض منتجات حصرية</h1>
          <h4>المنتجات المفضلة للعملاء</h4>
          <div class="my-4">
            <p>
              يُداوي هو الشريك المفضل لمجموعة من أكبر الشركات العاملة في مجال
              الرعاية الصحية محليًا وعالميًا. وتمتد شراكاتنا من شركات الأدوية
              إلى أشهر العلامات التجارية، لنُزوّد صيدليتك المعتمدة بمنتجات حصرية
              تلبي احتياجات العملاء.
            </p>
          </div>
          <div>
            <a class="next-four"
              ><i class="fas fa-long-arrow-alt-down"></i> المزيد
            </a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="content">
          <h1>استفد بأفضل المزايا في السوق</h1>
          <h4>كُن من الشركاء المفضلين لشبكة يُداوي المتطورة</h4>
          <div class="my-4">
            <p>
              يُقدّم يداوي مزاياه لشبكة من الصيدليات المعتمدة، ويمنحها فرصة
              الاستفادة بأفضل المزايا في السوق لخدمة العملاء بشكل أفضل. منصة
              إدارة الصيدليات من يُداوي مُصمّمة خصيصاً لزيادة سرعة ودقة طلبات
              الصيدليات، وتحليلها، بالإضافة لفريق الدعم المتواجد على مدار الساعة
              لخدمتك.
            </p>
          </div>
          <div>
            <a (click)="reload()"
              ><i class="fas fa-long-arrow-alt-up"></i> الرجوع
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
